{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>已收货订单</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">   
                <!--<div  class="col-sm-2" style="width: 100px">-->
                    <!--<div class="input-group" >-->
                        <!--<a href="{:url('add')}"><button class="btn btn-outline btn-primary" type="button">添加公司</button></a>-->
                    <!--</div>-->
                <!--</div>                                            -->
                    <form name="admin_list_sea" class="form-search" method="post" action="{:url('receive')}">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" id="key" class="form-control" name="order_no" value="{$order_no|default=''}" placeholder="输入订单号查询" />
                                <span class="input-group-btn"> 
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button> 
                                </span>
                            </div>
                        </div>
                    </form>                         
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th>
                                    订单号/<br/>
                                    支付时间
                                </th>
                                <th>订单详情</th>
                                <th>物流信息</th>
                            </tr>
                        </thead>
                        <tbody id="list-content">
                            {foreach $list as $vo}
                                <tr class="long-td">
                                    <td>
                                        {$vo.order_no}<br/>
                                        {$vo.pay_date}
                                    </td>
                                    <td style="text-align: left">
                                        {foreach $vo.goodsList as $goodsInfo}
                                            <div>
                                                <img src="{$goodsInfo.g_image_url}" alt="" height="60">
                                                <span>{$goodsInfo.g_name}</span>
                                                <span>{$goodsInfo.g_price} x {$goodsInfo.g_num}件</span>
                                            </div>

                                        {/foreach}
                                    </td>
                                    <td style="text-align: left">
                                        收 货 人：{$vo.delivery_name}<br/>
                                        联系方式：{$vo.delivery_phone}<br/>
                                        收货地址：{$vo.delivery_address}<br>
                                        物流公司：{$vo.express_c_name}<br/>
                                        物流单号：{$vo.express_code}<br/>
                                        发货时间：{$vo.delivery_date}<br/>
                                        收货时间：{$vo.receive_date}
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                    {$list->render()|raw}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{include file="public/footer" /}
</body>
</html>